@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
body{
    background-color: aqua;
}

*{
    margin: 0;
    padding: 0;
}


nav{
 font-family: 'Varela Round', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: black;
    color: white;
    height: 45px;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
 width: 35px;
 padding: 0 12px;
 border-radius: 30px;
}

.brand{
    display: flex;
   align-items: center;
   font-weight: bolder;
   font-size: 1rem;
}

.container{
    min-height: 60vh;
    background-color:black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 12px auto;
    border-radius: 12px;
    padding: 28px;
    background-image:url('dj\ img.jpg');
}

.botton{
 position: sticky;
 height: 100px;
 background-color: black;
 color: white;
 bottom: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column; 
}

.icon{
    margin-top: 12px;
}
.icon i{
    cursor: pointer;
}

#myprogrssBar{
   width: 75%;
   cursor: pointer;
}

.songitemcontainer{
    margin: 25px;
}
.songitem{
    height: 50px;
    display: flex;
    background-color: rgb(15, 175, 17);
    color:black;
    margin:12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;

}

.songitem img{
    width: 64px;
    margin:4px;
    border-radius: 45px;
   
}

.songitem i{
    cursor: pointer;
}
.timestamp{
    margin: 0 8px;
}

.songinfo{
    position: absolute;
    left: 28vh;
    font-family: 'Varela Round', sans-serif;
}
.songinfo img{
   opacity: 0;
   transition: opacity 0.3s ease-in;
   font-family: 'Varela Round', sans-serif;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: aquamarine;
    }
  }